@import "../animation.scss";

.container {
  position: relative;
  width: 19rem;
  height: 29rem;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  padding: 2.4rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.2rem;
  transition: background 0.6s ease-in-out;
  animation: scaledFadeIn 0.4s ease-in-out;
}

.wave__background {
  position: absolute;
  width: 150%;
  height: 150%;
  border-radius: 100%;
  background: radial-gradient(
    circle at 30% 30%,
    #ffffff33,
    #ffffff22,
    transparent 70%
  );
  animation: waveMove 8s ease-in-out infinite;
  transform: rotate(25deg);
  opacity: 0.4;
  z-index: 0;
}

.wave__background::before,
.wave__background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 70% 70%,
    #ffffff22,
    #ffffff11,
    transparent 70%
  );
  animation: waveMoveAlt 6s ease-in-out infinite;
  z-index: -1;
  opacity: 0.5;
}

@keyframes waveMove {
  0% {
    transform: translate(-20%, -20%) scale(1.05) rotate(25deg);
  }
  50% {
    transform: translate(20%, 20%) scale(1.2) rotate(25deg);
  }
  100% {
    transform: translate(-20%, -20%) scale(1.05) rotate(25deg);
  }
}

@keyframes waveMoveAlt {
  0% {
    transform: translate(10%, -15%) scale(1.1) rotate(-10deg);
  }
  50% {
    transform: translate(-15%, 10%) scale(1.25) rotate(-10deg);
  }
  100% {
    transform: translate(10%, -15%) scale(1.1) rotate(-10deg);
  }
}

.description__wrapper {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-height: 9rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  padding: 1.7rem 2.5rem;
}

.greeting__description {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.4;
}

.title__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  margin-bottom: auto;

  .greeting__title {
    position: relative;
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: -0.03rem;
    line-height: 1.4;
  }

  .greeting_sub_title {
    font-size: 1.3rem;
    color: var(--grey200);
  }
}
