@import "../animation.scss";

.popup__container {
  z-index: 10000;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  padding: 3rem 2rem 1.5rem 2rem;
  box-sizing: border-box;

  background-color: #fff;
  width: 37rem;
  height: 100%;
  max-height: fit-content;
  border-radius: 1rem;
  animation: 0.5s fadeInUp ease-in-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  row-gap: 4rem;

  @media (max-width: 480px) {
    width: 100dvw;
    bottom: 0;
    right: 0;
    border-radius: 3rem 3rem 0 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
}

.popup__content__text {
  video {
    width: 100%;
    height: 100%;
  }
}

.popup__title {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.5;
  width: 100%;
  text-align: center;
  white-space: pre-line;
}

.popup__button__container {
  width: 100%;
  margin-top: auto;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  transition: 0.4s all;

  button {
    width: 100%;
    padding: 1.6rem 2rem;
  }

  > button:nth-of-type(1) {
    background-color: #222;
    color: #fff;

    &:hover {
      filter: grayscale(70%);
      opacity: 85%;
    }
  }

  > button:nth-of-type(2) {
    color: var(--grey600);
    background: transparent;
  }
}

/* progress */
.progress__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  animation: fadeIn 0.5s ease-in-out;

  .progress__label {
    font-size: 1.4rem;
    color: var(--grey500);
  }

  .progress__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
  }

  .progress__chip__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

/* complete */

.complete__container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  letter-spacing: -0.03rem;
  row-gap: 0.5rem;
  font-size: 1.8rem;
}
