@import "../animation.scss";

.question__banner__container {
  margin: 1rem 0 3rem 0;
  width: 100%;
  background-color: transparent;
  border-radius: 1.3rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.question__banner__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.question__question__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.question__username__generator__container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 1rem;
  border-radius: 1.3rem;
  white-space: nowrap;

  .question__username__generator__title {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    height: 100%;
  }

  button {
    font-size: 1.35rem;
    padding: 1.3rem 1.5rem;
    margin-left: auto;
  }
}

.question__member__face {
  background-color: var(--greyOpacity100);
  padding: 0.8rem;
  border-radius: 50%;
}

.question__member__name {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--grey900);
  letter-spacing: -0.03rem;
}

.question__member__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.7rem;
  width: 100%;
  box-sizing: border-box;

  .question__member__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    row-gap: 1.5rem;
    width: 100%;

    background-color: rgb(249, 250, 251);
    padding: 2rem 2.5rem;
    border-radius: 1.3rem;
    box-sizing: border-box;
  }

  .question__member__face__container {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
  }

  .question__member__description {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--grey600);
  }
}

.question__banner__title__wrapper {
  width: 100%;
  display: flex;
  margin: 3rem 0;
  padding: 0 1.5rem;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.7rem;
  text-align: center !important;

  & > span:nth-of-type(1) {
    color: var(--grey600);
    font-weight: 300;
  }

  & > h2:nth-of-type(1) {
    line-height: 1.4;
    letter-spacing: -0.03rem;
    font-weight: 700;
    margin: 0;
    justify-content: center;
  }
}

.question__input__container {
  width: 100%;
  height: 100%;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
  border-radius: 1.3rem;
  margin: 0 auto;
  box-shadow: 0 0 0 0.1rem var(--greyOpacity300);
  padding: 1.5rem;
  column-gap: 1rem;
  box-sizing: border-box;

  input {
    font-size: 1.4rem;
  }

  button {
    color: #222;
  }

  .question__submit__button {
    background-color: #222;
    font-size: 1.4rem;
    color: #fff;
  }
}

.question__comment__more__container {
  cursor: pointer;
  position: relative;
  width: 100%;
  border-radius: 1.3rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;

  font-size: 1.7rem;
  padding: 2.8rem 2rem;
  text-shadow: 0 0 0.1rem var(--greyOpacity300);
  font-weight: 500;
  color: var(--grey100);
  background-color: var(--blue400);

  &[data-visible="false"] {
    span,
    .question__comment__more__link {
      opacity: 0;
    }
  }

  &[data-visible="true"] {
    z-index: 1;

    span:nth-of-type(1) {
      animation: fadeInUp 0.5s ease-in-out;
    }
    span:nth-of-type(2) {
      animation: fadeInUp 0.8s ease-in-out;
    }

    .question__comment__more__link {
      animation: fadeInUp 1s ease-in-out;
    }
  }

  .question__comment__more__link {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-weight: 600;
    color: #fff;
  }
}

.question__comment__circle {
  position: absolute;
  background-color: var(--blue600);
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  z-index: -1;
}
