.container {
  width: 100dvw;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 3rem 1.3rem 3rem 1.3rem;

  > img {
    margin: 0 auto;
  }
}

.announce__card__wrapper,
.greeting__card__wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.announce__card__wrapper {
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}

.greeting__card__wrapper {
  position: relative;

  @media (max-width: 480px) {
    width: 100dvw;
    margin-left: -1.3rem;
    padding-left: 1.3rem;
    box-sizing: border-box;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2rem;
    z-index: 2;
    pointer-events: none;
  }

  &::before {
    left: 0;
    backdrop-filter: blur(0.07rem);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
  }

  &::after {
    right: 0;
    backdrop-filter: blur(0.07rem);
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
  }
}
