.error__section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
  color: var(--greyOpacity700);
}

.error__content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.8rem;

  & > span:nth-of-type(1) {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
  }

  & > span:nth-of-type(2) {
    text-align: center;
    font-size: 1.4rem;
    color: var(--greyOpacity500);
  }
}
