.swiper-transition {
  .swiper-wrapper {
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
  }
}

.swiper {
  width: 100%;
  transition: 0.4s all;
}

.swiper-pagination {
  display: none;
}
