.anchor__link {
  width: 100%;
  max-width: fit-content;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  opacity: 0.7;
  color: var(--grey600);
  font-size: 1.4rem;
  padding-top: 2rem;
  transition: 0.4s all;
  margin-left: auto;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
